header {
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.219), rgba(50, 35, 255, 0.096));
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

header h1 {
    font-size: 2.5rem;
    color: aliceblue;
    letter-spacing: 1px;
    font-weight: lighter;
}

#moedas-icon {
    width: 60px;
    height:60px
}
